.op{
    background-color: antiquewhite;
}
.lb{
    background-color:rgb(255, 255, 153);
    color: brown;
}
.cdcell{
    background-color: rgb(255, 168, 137);
}
.Industry{
    background-color: rgb(169, 248, 255);
}
.machine-deep{
    background-color:rgb(199, 255, 122);
}
.communication{
    background-color:rgb(170, 144, 222);
}